In [28]:
import pandas as pd

# Step 1: Read the file while allowing for rows with different column lengths and specify five columns
file_path = '/Users/brycewang/Desktop/智能爬虫/data/swde/sourceCode/sourceCode/groundtruth/restaurant/restaurant-restaurantica-address.txt'

# Define five column names, filling missing columns with NaN
df = pd.read_csv(file_path, sep='\t', header=None, engine='python', on_bad_lines='skip', 
                 names=["col0", 'col1', 'col2', 'col3', 'col4', 'col5'], na_values='')

## drop top 2 rows 
df = df.drop(index=df.index[:2])
df = df.reset_index(drop=True)
df.head()

   col0 col1                      col2       col3 col4     col5
0  0000    4      11700 Old Seward Hwy  Anchorage   AK  99515.0
1  0001    4  12870 Old Seward Highway  Anchorage   AK  99515.0
2  0002    4           3230 Seward Hwy  Anchorage   AK  99503.0
3  0003    4             1204 Agvik St     Barrow   AK  99723.0
4  0004    4            1721 Ogrook St     Barrow   AK  99723.0

In [23]:
df.describe()

        col0  col1            col2            col3            col4
count   2000  2000            2000            1641             705
unique  2000     3            1998            1608             703
top     0000     2  (480) 905-9288  (866) 766-0766  (800) 544-1489
freq       1   936               2               8               2

In [25]:
df['col1'] = pd.to_numeric(df['col1'])
df['col1'].describe(include='all')

count    2000.000000
mean        2.173000
std         0.708747
min         1.000000
25%         2.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: col1, dtype: float64

# Check all the label counts of the groundtruth

In [35]:
import os
import pandas as pd

# Define the main folder path
folder_path = '/Users/brycewang/Desktop/智能爬虫/data/swde/sourceCode/sourceCode/groundtruth'

# Initialize an empty list to store the results
label_count_list = []

# Walk through each folder and file in the main directory
for root, dirs, files in os.walk(folder_path):
    for file in files:
        if file.endswith('.txt'):
            # Construct full file path
            file_path = os.path.join(root, file)
            
            # Read the file as in your original code
            df = pd.read_csv(file_path, sep='\t', header=None, engine='python', on_bad_lines='skip', 
                             names=["col0", 'col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9',
                                    "col10", 'col11', 'col12', 'col13', 'col14', 'col15', 'col16', 'col17', 'col18', 'col19',
                                    "col20", 'col21', 'col22', 'col23', 'col24', 'col25', 'col26', 'col27', 'col28', 'col29'], na_values='')
            
            # Drop the first 2 rows
            df = df.drop(index=df.index[:2])
            df = df.reset_index(drop=True)
            
            # Convert 'col1' to numeric, handling errors if any
            df['col1'] = pd.to_numeric(df['col1'], errors='coerce')
              
            # Check if col1 is not empty and calculate max/min
            if not df['col1'].empty:
                max_val = df['col1'].max()
                min_val = df['col1'].min()
            else:
                max_val = None
                min_val = None
            
            # Append the results to the list
            label_count_list.append([file, max_val, min_val])

# Create a DataFrame from the list
df_label_count = pd.DataFrame(label_count_list, columns=['file_name', 'max_col1', 'min_col1'])

# Sort df_label_count by 'max_col1' in descending order
df_label_count = df_label_count.sort_values(by='max_col1', ascending=False)

# Export the DataFrame to a CSV file
output_csv_path = '/Users/brycewang/Desktop/df_label_count.csv'
df_label_count.to_csv(output_csv_path, index=False)
print(f'Data has been exported to {output_csv_path}')

Data has been exported to /Users/brycewang/Desktop/df_label_count.csv